<div id="title">
  <h1>{{title}}</h1>
  <h2>{{subtitle}}</h2>
  <p>{{email}}</p>
</div>

<article class="about">
  <h2>Sobre mí</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a mauris sit amet nibh aliquet tempor vitae eget sem. Aenean tristique elementum sem. Suspendisse venenatis, massa eu tristique bibendum, leo felis lobortis libero, non ultricies velit arcu ac arcu. Sed pellentesque dignissim maximus. Donec id sem quis lacus mollis tempor. Nam placerat viverra mi, vitae vestibulum libero varius ut. Vestibulum rutrum, arcu et aliquam ullamcorper, sem nunc tempus augue, in sagittis ipsum orci a justo. Vivamus varius in lorem sit amet vestibulum.
  </p>
</article>
